@font-face {
  font-family: "pt sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "pt sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "pt sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  width: 1200px;
  padding: 0;
}

body:focus {
  border: none;
  outline: none;
  ;
}

.main-container {
  flex-grow: 1;
}

.visually_hidden {
  visibility: hidden;
}

.header_container {
  width: 1200px;
  display: flex;
  margin: 0, auto;
  padding: 0;
  align-items: center;
}

.logo_container {
  width: 140px;
  margin-left: 70px;
  margin-right: 28px;
  /*лого уходит под бекграунд и не соблюдается паддинг*/
  margin-bottom: -12px;
}

.header_navigation {
  width: 339px;
  display: flex;
  padding: 0;
  justify-content: center;
  margin-right: 285px;
}

.header_link_container {
  padding: 20px 16px 20px 16px;
}

.user_menu_container {
  width: 268px;
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.user_menu_search_container {
  width: 44px;
  padding: 22px 12px 22px 12px;
}

.user_menu_favorite_container {
  width: 44px;
  padding: 24px 13px 23px 13px;
}

.user_menu_link_container {
  width: 160px;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.header_link {
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.want_it {
  display: block;
  width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;

}

.brown_button {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.brown_button:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(97, 80, 72, 1);
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.brown_button:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(97, 80, 72, 1);
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.brown_button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(117, 97, 87, 1);
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.brown_button:disabled {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(229, 229, 229, 1);
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.blue_button {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.blue_button:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(104, 162, 202, 1);
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.blue_button:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(104, 162, 202, 1);
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.blue_button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(130, 179, 211, 1);
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.blue_button:disabled {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(229, 229, 229, 1);
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.green_button {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(125, 181, 79, 1);
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.green_button:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(108, 158, 66, 1);
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.green_button:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(108, 158, 66, 1);
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.green_button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(125, 181, 79, 1);
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.green_button:disabled {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(229, 229, 229, 1);
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.transparent_button {
  color: rgba(255, 255, 255, 0.1);
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.transparent_button:hover {
  color: rgba(255, 255, 255, 0.6);
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.transparent_button:focus {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  outline: 3px;
  outline-color: rgba(131, 179, 211, 1);
  border-color: rgba(131, 179, 211, 1);
  border: 3px;
}

.transparent_button:active {
  color: rgba(255, 255, 255, 0.3);
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.transparent_button:disabled {
  color: rgba(255, 255, 255, 0.1);
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.background_image_container {
  background-image: url(../images/design_features/welcome_footer.png), url(../images/backgrounds/index-background.jpg);
  background-color: rgba(130, 179, 211, 1);
  background-position: bottom;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 1);
}

.welcome_image_container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 51px;
  padding-bottom: 82px;
}

.about_sedona_container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0
}

.about_sedona_title_first_line {
  width: 620px;
}

.title_2 {
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.about_sedona_text_first_line {
  width: 651px;
}

.regular_text {
  font-family: "pt sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center
}

.city_advantages_first_line_container {
  display: flex;
  width: 1200px;
}

.blue_box_advantages_description_container {
  width: 400px;
  background-color: rgba(130, 179, 211, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.city_advantages_title_container {
  width: 175px;
  text-align: center;
}

.white_advantages_title {
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.city_advantages_text_container {
  width: 230px;
  text-align: center;
}

.white_advantages_text {
  font-family: "pt sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.city_advantages_first_line_image_container {
  width: 800px;
}

.city_advantages_second_line_container {
  display: flex;
  width: 1200px;
}

.pale_grey_box_advantages_description_container {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.black_title {
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.black_text {
  font-family: "pt sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.grey_box_advantages_description_container {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city_advantages_third_line_container {
  display: flex;
  width: 1200px;
}

.advantages_image {
  height: 100%
}

.city_service_container {
  display: flex;
  width: 1200px;
}

.grey_box_city_service_container {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grey_box_city_service_container_house {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/icons/house.png);
  color: rgba(0, 0, 0, 1);
  background-repeat: no-repeat;
  background-position: top 81px right 162px;
}

.grey_box_city_service_container_gift {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/icons/gift.png);
  color: rgba(0, 0, 0, 1);
  background-repeat: no-repeat;
  background-position: top 81px right 162px;
}

.city_service_title_container {
  width: 230px;
}

.city_service_text_container {
  width: 230px;
}

.pale_grey_box_city_service_container_food {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/icons/food.png);
  color: rgba(255, 255, 255, 1);
  background-repeat: no-repeat;
  background-position: top 81px right 162px;
}

.hotel_searching_link_container {
  width: 376px;
  text-align: center;

  margin-top: 20px;
  margin-bottom: 96px;
}

.hotel_searching_link {
  width: 376px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 8px 50px 8px 50px;
}

.about_sedona_title_second_line {
  width: 505px;
}

.about_sedona_text_second_line {
  width: 490px;
}

.about_sedona_title_third_line {
  width: 297px;

}

.about_sedona_text_third_line {
  width: 592px;
}

.main_newsletter_container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/backgrounds/subscribe.jpg);
  background-color: rgba(130, 179, 211, 1);
  background-repeat: no-repeat;
}

.about_sedona_title_newsletter {
  width: 404px;
}

.white_title_2 {
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.about_sedona_text_newsletter {
  width: 475px;
}

.white_regular_text {
  font-family: "pt sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.newsletter_container {
  display: flex;
  width: 684px;
  margin-top: 54px;
  margin-bottom: 104px;
}

.newsletter_input {
  width: 452px;
}

.newsletter_button {
  display: inline-block;
  width: 232px;
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.footer_container {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-template-rows: max-content max-content max-content;
  width: 1200px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  justify-items: center;
}

.footer_social {
  grid-column: 1 / 2;
  width: 142px;
  display: flex;
  justify-content: space-around;
  margin-left: 70px;
}

.footer_phone {
  grid-column: 2 / 3;
  width: 331px;
  text-align: center;
}

.footer_academy_logo {
  width: 120px;
  grid-column: 3/4;
  margin-right: 70px;
}

.academy_svg {
  fill: rgba(0, 0, 0, 1);
}

.academy_svg:hover {
  fill: rgba(117, 97, 87, 1);
}

.academy_svg:focus {
  fill: rgba(117, 97, 87, 1);
}

.academy_svg:active {
  fill: rgba(117, 97, 87, 0.3)
}

.footer_phone_link {
  font-family: "pt sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.footer_phone_link:hover {
  font-family: "pt sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: rgba(117, 97, 87, 1);
  text-decoration: none;
}

.footer_phone_link:focus {
  font-family: "pt sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: rgba(117, 97, 87, 1);
  text-decoration: none;
}

.footer_phone_link:active {
  font-family: "pt sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: rgba(117, 97, 87, 0.3);
  text-decoration: none;
}

.catalog_filter_container {
  width: 1200px;
  background-image: url(../images/backgrounds/filter.jpg);
  background-color: rgba(130, 179, 211, 1);
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
}

.catalog_title_container {
  width: 690px;
}

.white_title_1 {
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  line-height: 78px;
  color: rgba(255, 255, 255, 1);
}

.breadcrumbs_container {
  width: 200px;
  display: flex;
  flex-direction: row;
  margin-left: 70px;
  padding: 0;
}

.breadcrumbs_list {
  width: 200px;
  display: flex;
  flex-direction: row;
  color: rgba(255, 255, 255, 1);
  list-style-type: none;
  padding: 0;
  align-items: center;
}

.breadcrumbs_item_1 {
  width: 13px;
  height: 20px;
  background-image: url(../images/icons/main.png);
  background-repeat: no-repeat;
  margin-right: 11px;
}

.breadcrumbs_item_2 {
  width: 93px;
  background-image: url(../images/icons/breadcrumbs.png);
  background-position: left;
  background-repeat: no-repeat;
  text-align: right;
}

.breadcrumbs_link {
  width: 13px;
  font-family: "pt sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.filter_options_container {
  display: flex;
  width: 1200px;
  color: rgba(255, 255, 255, 1);
  padding: 0;
  margin-left: 70px;
}

.filter_options_form {
  display: flex;
}

.filter_infrastructure {
  width: 150px;
  padding: 0;
  margin-right: 70px;
}

.checkboxes {
  position: relative;
  padding-left: 10px;
}

.checkboxes:hover {
  color: rgba(255, 255, 255, 0.6);
}

.checkboxes:focus {
  color: rgba(255, 255, 255, 1);
}

.checkboxes:active {
  color: rgba(255, 255, 255, 0.3);
}

.checkbox_mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  left: 0px;
  top: 1px;
}

.control_input[type="checkbox"]:checked + .checkbox_mark{
  background-image: url(../images/icons/checkbox.svg);
  fill: rgba(63, 94, 114, 1);
  }

.filter_name {
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
}

.filter_list {
  list-style-type: none;
  font-family: "pt sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 73px;
}

.filter_item {
  margin-bottom: 16px;
}

fieldset {
  border: 0;
  padding: 0;
}

.filter_house_type {
  width: 150px;
  margin-right: 140px;
}

.filter_price_range {
  display: flex;
  flex-direction: column;
  width: 288px;
  margin-right: 70px;
}

.min_price_input,
.max_price_input {
  width: 143px;
}

.filter_price_range .filter_name {
  margin-bottom: 32px;
}

.price_inputs {
  display: flex;
  width: 288px;
  justify-content: space-between;
}

.range_input {
  width: 143px;
  padding: 12px 20px 12px 20px;
  border: none;
  box-sizing: border-box;
}

.range_input::-webkit-inner-spin-button,
.range_input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.range_scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(110, 117, 119, 1);
  margin-top: 48px;
}

.range_bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
}

.range_bar:focus {
  border: 3px;
  border-color: rgba(131, 179, 211, 1);
}

.range_button:active {
  border: 2px;
  border-color: rgba(131, 179, 211, 1);
}

.range_min {
  left: 0;
  transform: translateY(-40%);
}

.range_max {
  left: 226px;
  transform: translateX(-50%) translateY(-40%);

}

.range_button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter_management {
  width: 191px;
  display: flex;
  flex-direction: column;
}

.price_ranger {
  display: flex;
}

.accept_button {
  display: inline-block;
  width: 191;
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  padding: 8px 50px;
  margin-bottom: 32px;
  margin-top: 56px;
  cursor: pointer;
}

.decline_button {
  display: inline-block;
  width: 191;
  background-color: rgba(130, 179, 211, 0);
  color: rgba(255, 255, 255, 1);
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 8px 50px;
}

.filter_result_options_container {
  display: flex;
  margin: auto;
  width: 1200px;
  background-color: rgba(255, 255, 255, 1);
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 0;
}

.black_filter_result_title {
  width: 338px;
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-left: 70px;
  margin-right: 200px;
}

.select_control {
  width: 292px;
  height: 49px;
  font-family: "pt sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  margin-right: 70px;
  border-color: rgba(229, 229, 229, 1);
  border-radius: 4px;
  outline: 2px;

}

.select_control:hover {
  width: 292px;
  height: 49px;
  font-family: "pt sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  margin-right: 70px;
  border-color: rgba(104, 162, 202, 1);
  border-radius: 4px;
}

.select_control:focus {
  width: 292px;
  height: 49px;
  border: 2px;
  font-family: "pt sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  margin-right: 70px;
  border-color: rgba(104, 162, 202, 1);
  border-radius: 4px;
}

.select_control:active {
  width: 292px;
  height: 49px;
  border: 2px;
  font-family: "pt sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  margin-right: 70px;
  border-color: rgba(63, 94, 114, 1);
  border-radius: 4px;
}

.select_control:disabled {
  width: 292px;
  height: 49px;
  border: 2px;
  font-family: "pt sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(rgba(0, 0, 0, 0.3));
  margin-right: 70px;
  border-color: rgba(rgba(0, 0, 0, 0.3));
  border-radius: 4px;
}

.filter_result_view {
  display: flex;
  width: 160px;
  justify-content: space-between;
  margin-right: 70px;
  border: none;
}

.filter_result_view_plate {
  width: 48px;
  height: 48px;
  background-image: url(../images/icons/plate.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;

}

.filter_result_view_picture {
  width: 100%;
  height: 100%;
  background-image: url(../images/icons/picture.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}

.filter_result_view_list {
  width: 48px;
  height: 48px;
  background-image: url(../images/icons/list.png);
  background-repeat: no-repeat;
  background-position: center;
}

.filter_result_action {
  border: 2px;
  border-color: rgba(229, 229, 229, 1);
  border-radius: 4px;
  border-style: solid;
}

.filter_result_action:hover {
  border: 2px;
  border-color: rgba(0, 0, 0, 1);
  border-radius: 4px;
  border-style: solid;
}

.filter_result_action:focus {
  border: 2px;
  border-color: rgba(104, 162, 202, 1);
  border-radius: 4px;
  border-style: solid;
  outline: 2px;
  outline-style: solid;
  outline-color: rgba(104, 162, 202, 1);
}

.filter_result_action:active {
  border: 2px;
  border-color: rgba(0, 0, 0, 1);
  border-radius: 4px;
  border-style: solid;
}

.plate_link {
  width: 48px;
  height: 48px;
  display: block;
}

.picture_link {
  width: 48px;
  height: 48px;
  display: block;
}

.list_link {
  width: 48px;
  height: 48px;
  display: block;
}

.filter_result_hotels {
  display: flex;
  margin: auto;
  width: 1060px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel_description {
  width: 340px;
  border: 1px;
  border-style: solid;
  border-color: rgba(230, 230, 230, 1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.hotel_description:nth-last-child() {
  margin-bottom: 0;
}

.hotel_image {
  width: 300px;
}

.hotel_photo {
  display: block;
  margin-top: 20px;
  margin-bottom: 16px;
}

.hotel_title {
  width: 300px;
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.type_price {
  margin-top: 16px;
  margin-bottom: 16px;
}

.type_price_container {
  display: flex;
  width: 300px;
  font-family: "pt sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  justify-content: space-between;
  padding: 0;
}

.more_favotite_container {
  display: flex;
  width: 300px;
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  justify-content: space-between;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 16px;
}

.more_link {
  width: 140px;
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  border: 0;
  border-radius: 4px;
}

.favorite {
  display: inline-block;
  width: 140px;
  height: 36px;
  text-align: center;
  text-decoration: none;
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.rating_container {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
}


.rating_score {
  width: 140px;
  background-color: rgba(242, 242, 242, 1);
  text-align: center;
  font-family: "pt sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 8px;
}

.pagination_container {
  width: 1200px;
  display: flex;
  padding: 0;
  margin-top: 40px;
}

.current_page {
  width: 60px;
  height: 60px;
  background-color: rgba(242, 242, 242, 1);
  margin-left: 70px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current_page_link {
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  display: block;
}

.pagination_page {
  width: 60px;
  background-color: rgba(130, 179, 211, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-right: 8px;
}

.next_page_link {
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  display: block;
}

.pagination_more {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.more_page_link {
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-right: 8px;
}

.regular_newsletter_container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regular_newsletter_about_sedona_title {
  width: 404px;
}

.regular_newsletter_title_2 {
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.regular_newsletter_about_sedona_text {
  width: 475px;
}

.regular_newsletter_regular_text {
  font-family: "pt sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.regular_newsletter_newsletter_container {
  display: flex;
  width: 684px;
  margin-top: 54px;
  margin-bottom: 104px;
}

.regular_newsletter_newsletter_input {
  width: 452px;
}

.regular_newsletter_newsletter_button {
  display: inline-block;
  width: 232px;
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "pt sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.regular_newsletter_newsletter_input {
  border: 0;
  background-color: rgba(242, 242, 242, 1);
}

.newsletter_input {
  border: 0;
  background-color: rgba(242, 242, 242, 1);
}

.first_line_title {
  margin-top: 69px;
}

.first_line_text {
  margin-bottom: 69px;
}

.white_advantages_title {
  margin-top: 102px;
}

.white_advantages_text {
  margin-bottom: 102px;
}

.black_title {
  margin-top: 112px;
}

.black_text {
  margin-bottom: 112px;
}

.second_line_title {
  margin-top: 64px;
}

.second_line_text {
  margin-bottom: 64px;
}

.service_title {
  margin-top: 183px;
}

.service_text {
  margin-bottom: 81px;
}

.third_line_title {
  margin-top: 96px;
  margin-bottom: 20px;
}

.third_line_text {
  margin-top: 20px;
  margin-bottom: 54px;
}

.newsletter_title {
  margin-top: 96px;
  margin-bottom: 20px;
}

.newsletter_text {
  margin-top: 20px;
  margin-bottom: 54px;
}

.catalog_title_1 {
  margin-left: 70px;
  margin-top: 35px;
  margin-bottom: 8px;
}

.social_svg {
  fill: rgba(131, 179, 211, 1);
  cursor: pointer;

}

.social_svg:hover {
  fill: rgba(104, 162, 202, 1);
  cursor: pointer;
}

.social_svg:focus {
  fill: rgba(104, 162, 202, 1);
  cursor: pointer;
}

.social_svg:active {
  fill: rgba(104, 162, 202, 0.3);
  cursor: pointer;
}
